textarea.syntax-input {
	font-family: monospace;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #000;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	padding: 10px;
	resize: none;
	width: 100%;
	height: 200px;
}

p.syntax-display {
	font-family: monospace;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #000;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	padding: 10px;
}

p.syntax-display > .line > .comment {
	color: #afafaf;
	font-style: italic;
	font-weight: lighter;
}

p.syntax-display > .line > .keyword {
	color: #0000FF;
	font-weight: bold;
}

p.syntax-display > .line > .string > .quote {
	color: #008000;
	font-style: normal;
}

p.syntax-display > .line > .string > .quote.open, p.syntax-display > .line > .string > .quote.close {
	font-style: italic;
}

p.syntax-display > .line > .f-string > .quote {
	color: #808000;
	font-style: normal;
}

p.syntax-display > .line > .f-string > .quote.prefix {
	color: #ff6666;
}

p.syntax-display > .line > .f-string > .quote.open, p.syntax-display > .line > .f-string > .quote.close {
	font-style: italic;
}


p.syntax-display > .line > .whitespace {
	color: #aaaaaa;
	font-style: italic;
}

p.syntax-display > .line > [error="true"] {
	font-style: italic;
	text-decoration-line: underline;
	text-decoration-color: red;
	text-decoration-style: wavy;
}