.vmdash-card {
	display: inline-block;
	width: 500px;
	background-color: whitesmoke;
	margin: 10px 10px 10px 10px;
	padding: 15px 15px 15px 15px;
	border-radius: 15px;
	box-shadow: 5px 4px 0px lightgrey;
}

.vmdash-card .card-head {
	display: inline-block;
	text-align: left;
}

.vmdash-card .card-head .card-name {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.vmdash-card .card-head .card-desc {
	display: inline-block;
	font-style: italic;
	text-decoration: underline;
	color: #404040;
}

.vmdash-card .card-content {
	display: inline-block;
	margin-left: 50px;
}

.vmdash-card .card-status {
	float: inline-start;
	margin: 5px 5px 0px 5px;
}

.card-status span {
	font-size: 21px;
	line-height: 21px;
}

.card-status span::after {
	content: "🔄";
}

.card-status span[status="okay"]::after {
	content: "✅";
}

.card-status span[status="warn"]::after {
	content: "⚠️";
}

.card-status span[status="crit"]::after {
	content: "❗";
}

.chip-dock {
	float: inline-end;
}

.card-foot {
	z-index: 2;
	float: bottom;
}

.edit-btn {
	color: white;
	background-color: lightskyblue;
	border-radius: 6px;
	box-shadow: 0;
	margin: 0;
	margin-left: 5px;
	border: 0;
	width: 75px;
	height: 35px;
	float: inline-end;
	font-size: 18px;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

.done-btn {
	color: white;
	background-color: lightgreen;
	border-radius: 6px;
	box-shadow: 0;
	margin: 0;
	margin-left: 5px;
	border: 0;
	width: 75px;
	height: 35px;
	float: inline-end;
	font-size: 18px;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

.delete-btn {
	color: white;
	background-color: lightcoral;
	border-radius: 6px;
	box-shadow: 0;
	margin: 0;
	margin-left: 5px;
	border: 0;
	width: 75px;
	height: 35px;
	float: inline-end;
	font-size: 18px;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

.card-content input {
	border-radius: 7px;
	padding-left: 5px;
}

.card-content input:invalid {
	border: 2px dashed red;
}

.card-content input:valid {
	border: 2px solid greenyellow;
}