{% load static %}
{% load base_extras %}
<div class="user-chip" style="--chipsize: {{ chipsize|default:50 }}px; --ringsize: {{ ringsize|default:2 }}px; --chipratio: {{ chipratio|default:3 }};" status={{ status|default:"offline" }} state={{ state|default:"expanded" }}>
	<div class="user-chip-bg">
		<img src="{% static 'img/avatar_placeholder.jpg' %}" alt="" width="0" height="0">
		<div class="user-chip-tooltip-aligner">
			<span class="user-chip-tooltip">{{ username }}</span>
		</div>
	</div><!--
	--><div class="user-chip-content">
		<a>{{ username }}</a>
	</div>
</div>
