body {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none !important;
}

.inline-block {
	display: inline-block;
}

div#top {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

embed.embed-svg.logo {
	width: 400px;
	height: auto;
}


a.toplink {
	margin: 0;
	padding: 0;

	font-size: 12px;
}