{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mainb.us Poker</title>
        <link rel="stylesheet" href="{% static 'css/poker.css' %}">
    </head>

    <body>
        <h1>Poker</h1>
        <p>LOOK AT MESSAGES IN CONSOLE!!!</p>
        <p>It's not meant to disconnect but it is doing that atm, that's just because I have something wrong with my routes.</p>
        <p>TODO: FIX LATER</p>

        <h2>Content</h2>
        <a href="{% url 'poker' %}">Poker</a>

        <canvas id="gameCanvas" width="800" height="600"></canvas>
        <script type="text/javascript">
        </script>
        <script src="{% static 'js/poker_ws.js' %}"></script>
    </body>
</html>

