{% extends 'base.html' %}
{% block title %}Mainbus | Filestore{% endblock %}
{% block content %}
	<p>
		Filestore is a mainbus service that stores and displays different filetypes,
		allowing for users to upload and download content from the website.  This service
		is intended to be used by any application on the mainbus website that requires
		the user to upload content, or in someway display content that needs to be dynamically
		uploaded to the website.  If you need an image to stay forever it is recommended that
		instead of uploading it here you put it in the static directory.

		<a>TODO: put link to upload files.</a>
	</p>
{% endblock %}