{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mainb.us Factory</title>
        <link rel="stylesheet" href="{% static 'css/factory.css' %}">
    </head>

    <body>
        <button>Click</button>
		
		<section>
			<h3>Production Lines</h3>
			<button>+</button>
		</section>

		<section>
			<h3>Mail</h3>

		</section>

		<section>
			<h3>Finance</h3>

		</section>

		<section>
			<h3>Resources</h3>
			<label>Sand</label>
			<label>Glass</label>
		</section>

		<section>
			<h3>Land Survey</h3>
			<p>Allows you to survey and aquire more land</p>
			<div id="surveyGrid" class="cellular-grid">
				<div class="cell">a</div>
			</div>
			<script>
				function setupSurveyGrid() {
					let grid = document.getElementByID("surveyGrid");
					
				}
			</script>
		</section>

		<section>
			<h3>Land Development</h3>
			<p>Lists the land that you own, and allows you to put it to work.</p>
			<div>

			</div>
		</section>

        <script src="{% static 'js/factory.js' %}"></script>
    </body>
</html>

